.piano{ 
    margin: 10px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    
}

.piano div{
    height: 200px;
    width: 120px;
    margin: 10px;
    margin-bottom: 0px;
    background-color: white;
    display: flex;
    align-items: center;
    
}
.piano div p{
    flex: 1;
    text-align: center;
}
body{
    background-color: gray;
}
.pad{
    background-color: black;
    max-width: 1520px;
    margin: auto;
}
.col{
    display: flex;
    justify-content: center;
}
.pad .col div{
    margin: 10px;
    height: 240px;
    width: 480px;
    background-color: gray;
}
